.model{
    height: 800px;
    width: 100%;
    border-color: black;
    background-color: rgb(7, 7, 101);
}
.main{
  margin-left:50px ;
  border: 10px; 
}
.main h1{
    padding-top: 80px;
    padding-bottom: 20px;
}
.main p{
    height: 121;
    width: 85%;
    font-size: 20px;
}
.container{
    height: 350px;
    margin-left:50px;
    margin-right:50px;
    margin-top: 60px;
}
.box{
    height: 300px ;
    width: 250px;
    display: inline-block;
    background-color: aliceblue;
     padding-right: 5px;
     margin-left: 9px;
     margin-right: 5px;
    /* padding-bottom: 40px;  */
}
.box1{
    height:90px ;
    width: 90px;
    margin-top:40px;
    margin-left: 30px;
    border-style: solid;
    border-radius: 100px;
    border-width: 4px;
  border-color: rgb(6, 13, 141);
}
.box1 h3{
   padding-left: 35px;
   padding-top: 20px;
   
}
.box h2{
    margin-left: 30px;
    margin-top: 20px;
}
.box p{
    margin-left: 30px;
   
}
.final{
    height: 50px;
    width: 60%;
    margin-left: 390px;
}
.final p{
    margin-left: 90px;
    margin-bottom:300px;
}
